*~
deps
*.beam
*.plt
*.app
*.log
erl_crash.dump
*.pyc
*.wmtrace
access.log.*
perf.log.*
.DS_Store
doc/*.html
Mnesia.*
tmp
priv/log
.project
.settings
project.plt
dialyzer.out
ebin/*
log/*
ebin
.eunit
backup
gettext_server_db.dets
secrets.*.config
.rebar/